$breakpoint-phone: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.search-header {
  background-color: #fbd54b;
  padding: 40px;
  a {
    color: #000;
  }
}
.search-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  input {
    width: 100%;
  }
  @media (min-width: $breakpoint-tablet) {
    display: block;
    // flex-direction: row;
    input {
      margin-right: 20px;
      // width: 100%;
      width: calc(100% - 200px);
    }
  }
}

.search-results-container {
  padding: 40px;
  h3.no-results {
    text-align: center;
  }
}

.search-status {
  text-align: center;
}

.sorting {
  margin-bottom: 40px;
  button:first-of-type {
    margin-right: 20px;
  }
}

.result {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}

.book-data {
  width: 100%;
  padding-right: 20px;
  margin-bottom: 20px;
  a {
    font-size: 1.3rem;
  }
  @media (min-width: $breakpoint-tablet) {
    width: calc(100% - 200px);
  }
}
.book-cover {
  width: 100%;
  text-align: center;
  img {
    transform: scale(0.8);
    @media (min-width: $breakpoint-tablet) {
      transform: initial;
    }
  }
  @media (min-width: $breakpoint-tablet) {
    width: 200px;
    text-align: left;
  }
}
