$breakpoint-phone: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

html {
  background-color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see http://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

main {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  display: block;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0px;
}

h3 {
  color: #000;
  font-size: 2rem;
  .subtitle {
    font-size: 1.5rem;
  }
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  @media (min-width: $breakpoint-tablet) {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
}

h4 {
  color: #333;
  font-size: 1.5rem;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  @media (min-width: $breakpoint-tablet) {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
  }
}

input {
  font-size: 1.5rem;
  padding: 0 20px;
  margin: 40px 20px 20px 0;

  height: 50px;
  width: calc(100% - 200px);
  // outline: 1px solid #ccc;
}

button {
  border-radius: 2px;
  font-size: 1.3rem;
  height: 50px;
  padding: 0 20px;
  background-color: #fff;
  margin-bottom: 10px;
  &:hover,
  &.selected {
    background-color: rgb(1, 80, 155);
    color: #fff;
  }
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
